{
"log":{

  "loglevel": "error"
},
  "inbounds": [{
    "port": 80,
    "listen": "0.0.0.0",
    "protocol": "vmess",
    "settings": {
      "decryption": "none",
      
    "fallbacks": [
                {
                    "dest": 8080 
                }
            ]
         ,
      
      
      "clients": [
        {
          "id": "12345678-1234-1234-1234-123456789012"
        }
      ],
      "disableInsecureEncryption": false
    },
    "streamSettings": {
        "network": "ws",
        "wsSettings": {
            "path": ""
        }
    }
  }],
  "outbounds": [{
    "protocol": "freedom",
    "settings": {}
  },{
    "protocol": "blackhole",
    "settings": {},
    "tag": "blocked"
  }]
}
